@font-face {
  font-family: 'Free Pixel';
  font-style: normal;
  font-weight: 400;
  src: local('Free Pixel'), url(/web-misc/fonts/free-pixel/free-pixel.woff) format('woff'),  url(//neruthes.github.io/web-misc/fonts/free-pixel/free-pixel.woff) format('woff'), url(//neruthes.xyz/web-misc/fonts/free-pixel/free-pixel.woff) format('woff'), url(//neruthes.now.sh/web-misc/fonts/free-pixel/free-pixel.woff) format('woff');
}

/*
    Source: https://www.dafont.com/free-pixel.font?fpp=200&l[]=10&l[]=1&text=Generate+Font+Dialog
*/
